django
djangorestframework
dynamicforms>=0.81.0
swapper
django-rest-registration
drf-spectacular>=0.17.2, <0.26.0
django-taggit
svgwrite
django-hijack < 3
pytz
tox
social-auth-app-django
django-permissions-policy
django-csp
requests
boto3
natural
celery>=5.2
pandas
click>=8.1
ruff
ruff-lsp
