{% verbatim %}
<style>
    [v-cloak] {
        display: none;
    }

    .card .card-body .message {
        padding-left: 45px;
    }

    .card .card-body .message::after {
        clear: both;
    }

    .card .card-body .actions {
        margin-top: 5px;
        background-color: transparent;
        border: none;
    }

    .card {
        background-color: transparent;
        border: none;
    }

    .display-inline {
        display: inline-block;
    }

    .logo-image {
        cursor: default;
        max-height: 80px;
        max-width: 80px;
    }

    .login-container {
        position: absolute;
        right: 1em;
    }
</style>
<div id="django-project-base-titlebar" v-cloak>
    <titlebar inline-template>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="nav-item">
                <div class="card">
                    <div class="card-body">
                        <img v-bind:src="titleBarProps.companyImageLogoUrl"
                             class="float-left rounded-circle logo-image" onclick="window.location.href='/'"
                             style="cursor: pointer;">
                    </div>
                </div>
            </div>
            <a class="navbar-brand" href="javascript:void(0);" style="cursor: default;">{{
                titleBarProps.companyTitle
                }}</a>
            <div class="nav-item" v-if="loggedIn">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">First Page</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" v-if="loggedIn">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="nav-item">
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <i class="nav-link fas fa-th-list fa-2x" data-toggle="dropdown"></i>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a v-for="project in projectList" v-on:click="projectSelected(project.id)"
                                       v-bind:key="project.id" class="dropdown-item" href="#">{{ project.name }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-item" v-if="loggedIn">
                <div class="card">
                    <div class="card-body">
                        <img v-bind:src="titleBarProps.avatarImageUrl" class="float-left rounded-circle">
                        <div class="message">
                            <h5 class="card-title">{{ titleBarProps.firstName }} {{ titleBarProps.lastName }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ titleBarProps.userTitle }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item login-container" v-else>
                <form @submit.prevent>
                    <input type="text" v-model="loginModel['username']" placeholder="Username" name="username">
                    <input type="text" v-model="loginModel['password']" placeholder="Password" name="psw">
                    <button class="btn" type="submit" @click="makeLogin">Login</button>
                </form>
            </div>
        </nav>
    </titlebar>
</div>
{% endverbatim %}
