<script>
  var $buoop = {
    required: {e: -4, f: -4, o: -4, s: -4, c: -4},
    insecure: true,
    unsupported: true,
    reminder: 0,
    reminderClosed: 1,
    noclose: true,
    domain: '/browser-update/js-script',
  };

  var checkInterval = null;
  var pageLocked = false;
  var shouldLockScreen = false;

  {% if lockScreen %}
    shouldLockScreen = true;
  {% endif %}

  function lockScreen() {
    $('html, body').css({
      overflow: 'hidden',
      height: '100%'
    });
    $("body").prepend('<div class="overlay-block"></div>');
    $(".overlay-block").css({
      "position": "absolute",
      "width": "100%",
      "height": "100%",
      "z-index": 99999,
      "backgroundColor": "#FF0000",
    }).fadeTo(500, 0.6);
    pageLocked = true;
  }

  function $buo_f() {
    var e = document.createElement("script");
    e.src = '/browser-update/js-script/';
    document.body.appendChild(e);
    if (shouldLockScreen) {
      var checkInterval = setInterval(function () {
        if ($buoop.notified && !pageLocked) {
          lockScreen();
        }
      }, 250);
      setTimeout(function () {
        clearInterval(checkInterval);
        checkInterval = null;
      }, 10000);
    }
  }

  try {
    document.addEventListener("DOMContentLoaded", $buo_f, false)
  } catch (e) {
    window.attachEvent("onload", $buo_f)
  }
</script>